# 日志配置
LOG_LEVEL=info
LOG_TO_FILE=1

DEFAULT_ENV_API_KEY=1

# 上游 Responses API 配置 (当代理收到 Chat Completions 请求时, 转发到这里)
RESPONSES_API_BASE_URL=https://your-responses-api.com
RESPONSES_API_KEY=sk-your-responses-api-key

# 上游 Chat Completions API 配置 (当代理收到 Responses 请求时, 转发到这里)
COMPLETIONS_API_BASE_URL=https://api.openai.com
COMPLETIONS_API_KEY=sk-your-openai-key-here

# 代理服务器配置
HOST=0.0.0.0
PORT=9090
